<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.kdt.pojavlaunch">

    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:name=".PojavApplication"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:resizeableActivity="true"
        android:hasFragileUserData="true"
        android:allowNativeHeapPointerTagging="false">

        <meta-data 
            android:name="android.max_aspect"
            android:value="ratio_float"/>
		
        <activity
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:label="@string/app_short_name"
            android:name=".PojavLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ImportControlActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible"
            android:launchMode="singleInstance"
            android:configChanges="keyboard|keyboardHidden"
            >

            <intent-filter android:scheme="content"
                android:label="@string/import_control_label"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/json"/>
                <data android:mimeType="text/json"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
            android:screenOrientation="sensorLandscape"
            android:name=".FatalErrorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
            android:screenOrientation="sensorLandscape"
            android:name=".ExitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"/>
        <activity
            android:screenOrientation="sensorLandscape"
            android:name=".PojavLauncherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"/>
        
        <activity
            android:screenOrientation="sensorLandscape"
            android:name=".JavaGUILauncherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"/>
		
        <activity
            android:screenOrientation="sensorLandscape"
            android:name=".CustomControlsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"/>
        <activity
            android:screenOrientation="sensorLandscape"
            android:name=".authenticator.microsoft.ui.MicrosoftLoginGUIActivity"/>
        <activity
            android:launchMode="standard"
            android:multiprocess="true"
            android:screenOrientation="sensorLandscape"
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|keyboard|navigation"/>

        <provider
            android:name=".scoped.FolderProvider"
            android:authorities="@string/storageProviderAuthorities"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

    </application>

</manifest>
