/.gradle
/build
/*/build
app_pojavlauncher/src/main/assets/components/jre
/app_pojavlauncher/src/main/assets/components/jre-new/
/app_pojavlauncher/src/main/assets/components/jre-21/
local.properties
.idea/
app_pojavlauncher/.cxx/
.vs/
/curseforge_key.txt
