[submodule "MobileGlues"]
	path = MobileGlues
	url = https://github.com/MobileGL-Dev/MobileGlues
	branch = plugin

[submodule "gl4es"]
	path = gl4es
	url = https://github.com/ptitSeb/gl4es.git
	branch = master
